#features,
#details {
  overflow-x: hidden;

  > .inner {
    > .row {
      @include vendor('display', 'flex');
      @include vendor('flex-wrap', 'wrap') text-align: center;

      > .feature {
        flex: 30%;
      }

      @include breakpoint(medium) {
        display: block;
      }
    }
  }
}

#details {
  background: white;
}

#features,
#testimonial,
#faq,
#questions {
  color: white;

  h2,
  h3 {
    color: inherit;
  }
}

#features.blue {
  background: darken(_palette(accent5), 5%);
}

#testimonial.blue {
  background: darken(_palette(accent5), 1%);
}

#faq.blue {
  background: darken(_palette(accent5), 10%);
}

#questions.blue {
  background: darken(_palette(accent5), 10%);
}

#questions.violet {
  background: lighten(_palette(accent3), 0%);
}
#features.violet {
  background: lighten(_palette(accent3), 0%);
}

#testimonial.violet {
  background: lighten(_palette(accent3), 3%);
}

#faq.violet {
  background: darken(_palette(accent3), 5%);
}

#faq,
#questions {
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      @include breakpoint(xlarge) {
        flex: 40%;
        margin-right: 5%;
      }

      @include breakpoint(small) {
        flex: 100%;
        margin: 0 5%;
      }

      &:first-child {
        border-top: solid 1px rgba(31, 31, 34, 0.4);
        padding: 0.5em 0;
      }
    }
  }
}

.carousel .slide {
  background: transparent !important;
}

.card {
  background-color: #fff;
  min-width: 280px;
  margin: 50px auto 0;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.picture__testimonial {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}
