#features,
#details {
  overflow-x: hidden;

  > .inner {
    > .row {
      @include vendor('display', 'flex');
      @include vendor('flex-wrap', 'wrap') text-align: center;

      > .feature {
        flex: 30%;
      }

      @include breakpoint(medium) {
        display: block;
        text-align: left;
      }
    }
  }
}

#faq {
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      @include breakpoint(xlarge) {
        flex: 40%;
        margin-right: 5%;
      }

      @include breakpoint(small) {
        flex: 100%;
        margin: 0 5%;
      }

      &:first-child {
        border-top: solid 1px rgba(31, 31, 34, 0.4);
        padding: 0.5em 0;
      }
    }
  }
}

.carousel .slide {
  background: transparent !important;
}
